/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.08.2018, 15:57:32
    Author     : Patskevich.S
*/

body {
  padding-top: 4.5rem;
  min-width: 992px;
}

container {
  min-width: 992px;
}

container-fluid {
  min-width: 992px;
}

@media (min-width: 0px){
    .navbar-expand-md .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    
    .d-md-block {
        display: block!important;
    }
}

.min-width180{
    min-width: 180px;
}